[Desktop Entry]
Version=1.0
Name=luisetecoin 
Comment=luisetecoin P2P Cryptocurrency
Comment[fr]=luisetecoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=luisetecoin, eşten eşe kriptografik sanal para birimi
Exec=luisetecoin-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/luisetecoin;
Categories=Office;Finance;
StartupWMClass=luisetecoin-qt
