[Desktop Entry]
Version=1.0
Name=luisetecoin
Comment= luisetecoinP2P Cryptocurrency
Comment[fr]= luisetecoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]= luisetecoin, eşten eşe kriptografik sanal para birimi
Exec=luisetecoin-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/pivx;
Categories=Office;Finance;
StartupWMClass=luisetecoin-qt
